$background-guide: #6391f3;
$background-btn: #d1dffb;
$border-btn: #3c76f0;
$box-shadow: #000000 0.588144px 0.588144px 4.41108px 0px;
$border1: #d8d8d8;
$background-banner: #24282f;
$background-footer: #fafbfc;
$grey: #777;
$grey1: #f2f2f2;
$white: #fff;
$input: #222222;
